.home-partner {
  height: 90vh;
  background-color: #f6f4f4;
  &__container {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  &__image-container {
  }

  &__image {
  }

  &__text-container {
  }
  &__heading {
  }
  &__para {
  }
}
