.home-page-detail {
  padding: 2rem;
  color: white;
  // font: bold 6.5em/2em monospace;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(to top, #255a47a1, #255a47),
    url("../../assets//images/home-section-bg.jpeg") no-repeat top center;

  &__container {
    padding-top: 6rem;
    padding-bottom: 6rem;
    z-index: 100;
    flex: 1;
    padding: 2rem;
  }

  &__image-container {
    padding-top: 6rem;
    padding-bottom: 6rem;
    z-index: 100;
    flex: 1;
    padding: 2rem;
  }

  &__image {
    height: 25rem;
    width: 35rem;
    opacity: 0.9;
    border: 2rem solid rgba(0, 0, 0, 0.414);
  }

  &__btn {
    padding: 1rem 2rem 1rem 2rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    border-radius: 0.2rem;
    box-shadow: -2px 2px 5px rgb(33, 31, 31);
    background-color: rgb(49, 196, 141);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: translateY(-3px);
    }

    &:active {
      transform: translateY(0px);
    }
  }

  &__heading {
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
    padding-left: 0;
  }

  &__para {
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    color: white;

    &--head {
      font-weight: 600;
    }
  }
}
