.stateinfocard {
  &__container {
    width: 15rem;
    height: auto;
    padding: 1.6rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(49, 196, 142, 0.471);
    border-radius: 0.5rem;
    //   box-shadow: 5px 5px 10px rgba(49, 196, 142, 0.245);

    &--detail {
      font-size: 0.9rem;
      font-weight: 500;
    }
  }

  &__image-container {
    align-self: center;
    margin-bottom: 1rem;
  }
}

.link {
  color: #255a47;
}
