.intro-section {
  padding: 1.6rem;
  // display: flex;
  // justify-content: center;
  // align-items: center;

  // background: linear-gradient(
  //     to top,
  //     rgba(30, 50, 3, 0.775),
  //     rgba(77, 159, 106, 0.545)
  //   ),
  //   url("../../assets//images/home-section-bg.jpeg");
  // background-repeat: no-repeat;
  // background-size: cover;
  color: white;
  // font: bold 6.5em/2em monospace;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(to top, #255a47a1, #255a47),
    url("../../assets//images/home-section-bg.jpeg") no-repeat top center;

  &__container {
    width: 70%;
    padding: 2rem;
    z-index: 100;
  }

  &__heading {
    color: rgb(49, 196, 141);
    font-size: 2rem;
    font-weight: 700;
  }

  &__para {
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 300;
    margin-bottom: 2rem;
    color: white;

    &--head {
      font-weight: 600;
    }
  }
}
